NametagController {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 0;


	.title {
		font-size: 70px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: #fff;
		text-stroke: 7px black;
	}

	&.hidden {
		display: none;
	}

	.dev {
		color: yellow !important;
	}
}